<footer>
    <br>
    <br>
    <div class="a-footer">
        <div class="logo-footer">
            <a href="/"><img class="logx" src="/images/LogoPaddleHouse.jpg" alt="Logo de PaddelHouse"></a>
        </div>
        <div class="products-footer">
            <h4>Productos </h4>
            <ul class="footer-ul">
                <p class="enlaces-fonts"> <a class="enlaces-fonts" href="/products/detail/PALETA">Paletas</a></p>
                <p class="enlaces-fonts"> <a class="enlaces-fonts" href="/products/detail/ACCESORIOS">Accesorios</a></p>
                <p class="enlaces-fonts"> <a class="enlaces-fonts" href="/products/detail/BOLSOS-PALETERO">Bolsos</a></p>
            </ul>
        </div>
        <div class="servicios-footer">
            <h4>Servicios </h4>
            <ul class="footer-ul">
                <p>Envios</p>
                <p>Planes de pago</p>
            </ul>
        </div>
        <div class="contacto-footer">
            <h4>Información de contacto </h4>
            <p class="footer-ul">Paddel House</p>
            <p class="footer-ul">Buenos Aires y dirección</p>
            <p class="footer-ul">Buenos Aires</p>
            <p class="footer-ul">Argentina</p>
        </div>
    </div>
</footer>