<head>
    <!--Codificacion-->
    <meta charset="UTF-8">
    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Titulo-->
    <title>
        <%= (typeof Solapa !="undefined" ) ? Solapa : 'Paddle House' %>
    </title>
</head>