<header>
    <div class="top-header">
        <div class="logo-nav-iconos">
            <div class="logo">
                <a href="/"><img class="logo-foto" src="/images/LogoPaddleHouse.jpg" alt="Logo de PaddelHouse"></a>
            </div>
            <div>
                <input class="input-search" type="text" placeholder="Buscar productos, marcas y más">
            </div>
            <div>
            <button class="button-search"><i class="fa fa-search"></i></button>
            </div>
            <div class="logos3">
                <% if (locals.isLogged) { %>
					<li class="nav-item dropdown">
						<a href="#">
                            <img src="/images/avatars/<%= locals.userLogged.avatar.filename %>">
							Hi <%= locals.userLogged.name %> 
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/users/profile">My profile</a></li>
							<li><a class="dropdown-item" href="/users/logout">Logout</a></li>
						</ul>
					</li>
                    <a class="carrito-logo" href="/products/cart">CARRITO:
                        <div></div>
                        <i class="fas fa-shopping-basket"> </i>
                    </a>
				<% } else { %>
                    <a class="contacto-logo" href=#>CONTACTO:
                        <div></div>
                        <i class="fas fa-address-card"></i>
                    </a>
					<a class="micuenta-logo" href="/users/login">MI CUENTA:
                        <div></div>
                        <i class="fas fa-sign-in-alt"> </i>
                    </a>
                    <a class="carrito-logo" href="/products/cart">CARRITO:
                        <div></div>
                        <i class="fas fa-shopping-basket"> </i>
                    </a>
				<% } %>
                
            </div>
        </div>
    </div>
    <nav>
        <div class="barra-accesorios">
            <a class="barra-accesoriosA" href="/products/">TODOS</a>
            <a class="barra-accesoriosB" href="/products/PALETA">PALETAS</a>
            <a class="barra-accesoriosC" href="/products/ACCESORIOS">ACCESORIOS</a>
            <a class="barra-accesoriosD" href="/products/BOLSOS-PALETERO">BOLSOS</a>
        </div>
        
    </nav>
    </div>
    </div>
</header>