<!DOCTYPE html>
<html lang="en">


<%- include("./partials/head", {Solapa: "PH: PRODUCTOS" }) %>

    <body>

        <%- include("./partials/header") %>
            <section>
                 <!-- <div class="overlay">
                </div> 
                 <div class="absolute">
                    <h2>Bienvenidos a Paddle House</h2>
                </div> 
                 <video muted autoplay loop>
                  <source src="/images/Padel_video2.mp4" type="video/mp4">
                </video> -->
                
                 <img name="paddleHouse" width= "100%" height= "100%">
        
                <script class="intro">
                    
                   window.addEventListener('load', function(){
                
        
                let imagenes = [];
                        imagenes[0]="/images/padle.slider2.png";
                        imagenes[1]= "/images/padle_slider1.jpg";
                        imagenes[2]= "/images/padle_slider_delfina.png";
                        imagenes[3]= "/images/padle_slider_juan.png";
                        imagenes[4]= "/images/padle_slider.png";
                        

                        var indiceImagenes = 0
                       function cambiarImagenes(){
                        document.paddleHouse.src = imagenes[indiceImagenes];
                        if (indiceImagenes < 4){
                            indiceImagenes++;
                        } else{
                            indiceImagenes = 0
                         
                        
                        }
                    }
                    setInterval(cambiarImagenes, 2000);
                       });
                    
                </script> 
            </section>
            <main>
                <h3>Ofertas</h3>
                <div class="ofertas-main">
                    <article class="ofertas1">
                        <h4>Paletas</h4>
                        <img class="ofertass" src="/images/Paleta_KelmeLycan.jpg">
                        <div class="marca-modelo">
                            <p class="marca-producto"> Kelme
                            <pre> </pre>
                            </p>
                            <p class="modelo-producto">Lycan</p>
                        </div>
                        <div class="precios">
                            <p class="precio-ofertas">25000$
                            <pre>    </pre>
                            </p>
                            <p class="precio-real-oferta">20000$</p>
                        </div>
                        <a href="/products/">
                        <button class="button button1">Ver productos</button>
                        </a>
                    </article>
                    <article class="ofertas2">
                        <h4>Accesorios</h4>
                        <img class="ofertass" src="/images/Accesorio_CubreGripx60NexusBlanco.jpg">
                        <br>
                        <br>

                        <div class="marca-modelo">
                            <p class="marca-producto"> CubreGrip Nexus
                            <pre> </pre>
                            </p>
                            <p class="modelo-producto">Blanco</p>
                        </div>
                        <div class="precios">
                            <p class="precio-ofertas">600$
                            <pre>  </pre>
                            </p>
                            <p class="precio-real-oferta">450$</p>
                        </div>
                        <a href="/products/">
                        <button class="button button1">Ver productos</button>
                        </a>   
                    </article>
                    <article class="ofertas3">
                        <h4>Bolsos</h4>
                        <img class="ofertass" src="images/Bolsos_PaleteroAdidasWeekendWhite20.jpg">
                        <div class="marca-modelo">
                            <p class="marca-producto">Bolso Adidas
                            <pre> </pre>
                            </p>
                            <p class="modelo-producto">WeWhite</p>
                        </div>
                        <div class="precios">
                            <p class="precio-ofertas">15000$
                            <pre>  </pre>
                            </p>
                            <p class="precio-real-oferta">12500$</p>
                        </div>
                        <a href="/products/">
                        <button class="button button1">Ver productos</button>
                        </a>
                    </article>
                </div>

                <h3>Productos</h3>
                <div class="products-main">
                    <a href="/products/PALETA">
                        <article class="products1">
                            <img class="productoss" src="/images/Paleta_AdidasMatchLigth31.jpg">
                            <h4 class="titulos-producto1"><a class="texto-products" href="/products/PALETA">Paletas</a>
                            </h4>
                        </article>
                    </a>
                    <a href="/products/ACCESORIOS""><article class=" products2">
                        <br>
                        <img class="productoss2" src="/images/Accesorio_GripAdidasPadelPerformance1rojo.jpg">

                        <h4 class="titulos-producto2"><a class="texto-products"
                                href="/products/ACCESORIOS">Accesorios</a></h4>

                        </article>
                    </a>
                    <a href="/products/BOLSOS-PALETERO">
                        <article class="products3" href="/products">
                            <img class="productoss" src="/images/Bolsos_PaleteroAdidasMultigameLiteWhite.jpg">
                            <h4 class="titulos-producto3"><a class="texto-products"
                                    href="/products/BOLSOS-PALETERO">Bolsos</a></h4>
                        </article>
                    </a>
                </div>


                <h3>Cajas Misteriosas</h3>
                <div class="cajas-main">
                    <article class="caja1">
                        <img class="cajass" src="/images/unnamed (1).jpg">
                        <h4>Caja 1</h4>

                    </article>
                    <article class="caja2">
                        <img class="cajass" src="/images/unnamed (1).jpg">
                        <h4>Caja 2</h4>

                    </article>
                    <article class="caja3">
                        <img class="cajass" src="/images/unnamed (1).jpg">
                        <h4>Caja 3</h4>
                    </article>
                </div>
            </main>

            <%- include("./partials/footer") %>

    </body>

</html>