<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Paddle House</title>
</head>
<body>
    <header>
<div class="top-header">
    <div class="logo-nav-iconos">
                <div class="logo"> 
                    <img src="FALTA:RUTAAIMAGEN.png" alt="Logo de PaddelHouse">
                </div>
                <div class="search" action="#" method="GET">
                    <div class="input">Buscar...</div>
                    <div class="submit"><i class=""></i></div>
                </div>
                <a href="">
                    <i>
                        FALTA EL (logo)CONTACTO ACA 
                    </i>
                </a>
                <a href="">
                    <i>
                        FALTA EL (logo) MiCuenta  
                    </i>
                </a>
                <a href="">
                    <i>
                        FALTA EL (logo) CARRITO ACA 
                    </i>
                </a>
                </div>
</div>
<nav>
    <div class="barra-accesorios">
    
        <a href="#">Paletas</a> <pre>               </pre>
        <a href="#">Tiendas Oficiales</a>     <pre>               </pre>             
        <a href="#">Bolsos</a>                           
</div>
</nav>
<section class="banner">
    <img src="/images/padel-6322450_1280.webp" alt="Banner que se mueva con imagenes de paddel">
</section>

</div>

    </header>
    <main>
        <br>
        <br>
        <br>
        
        <h3>Ofertas</h3>
        <div class="ofertas-main">
            <div class="oferta1">
                
            <article>
                <div class="oferta1"></div>
                <h4>Paletas</h4> 
               <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <a href="Falta aniadir al carrito"></a>
                        <img>
                    </div>
            </article>
            <article>
                <div class="oferta2">
                    <h4>Accesorios</h4>
               <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <p class="marca-producto"> RoyalPadel</p>
                            <p class="modelo-producto">NewModel</p>
                            <a href="Falta aniadir al carrito"></a>
                            <img>
                        </div>
            </article>
            <article>
<div class="oferta3">
            <h4>Bolsos</h4>
            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <a href="Falta aniadir al carrito"></a>
                        <img>
                    </div>
            </article>
</div>
<h3>Productos</h3>
        <div class="products-main">
            <article>
                <h4>Paletas</h4> 
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <img>
                
            </article>
            <article>
                <h4>Accesorios</h4>
                            <p class="marca-producto"> RoyalPadel</p>
                            <p class="modelo-producto">NewModel</p>
                            <img>
            </article>
            <article>
                <h4>Bolsos</h4>
           
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <img>
            
            </article>
</div>


<h3>Cajas Misteriosas</h3>
        <div class="cajas-main">
            <article>
            <h4>Caja 1</h4>
            <img>
                      
                
            </article>
            <article>
                <h4>Caja 2</h4>
               <img>
                           
            </article>
            <article>
                <h4>Caja 3</h4>
           
        <img>
                   
            
            </article>
</div>

    </main>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="a-footer">
            <div class="logo"> 
                <img src="FALTA:RUTAAIMAGEN.png" alt="Logo de PaddelHouse">
            </div>
            <div class="products-footer"> 
            <h3>Productos </h3>
            <ul>
                <li>Paletas</li>
                <li>Accesorios</li>
                <li>Bolsos</li>
            </ul>
        </div> <pre>                         </pre>
        <div class="servicios-footer">
            <h3>Servicios </h3>
            <ul>
                <li>Envios</li>
                <li>Planes de pago</li>
            </ul>
        </div> <pre>                         </pre>
        <div class="contacto-footer">
            <h3>Inforacion de contacto </h3>
            <p>Paddel House</p>
            <p>Buenos Aires y direccion</p>
            <p>Buenos Aires</p>
            <p>Argentina</p>
        </div>
        </div>
    </footer>
</body>
</html>