<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Paddle House</title>
</head>
<body>
    <header>
<div class="top-header">
                <div class="logo"> 
                    <img src="FALTA:RUTAAIMAGEN.png" alt="Logo de PaddelHouse">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar...</div>
                    <div class="submit"><i class=""></i></div>
                </div>
                <a href="">
                    <i>
                        FALTA EL CONTACTO ACA
                    </i>
                </a>
                <a href="">
                    <i>
                        FALTA EL MiCuenta 
                    </i>
                </a>
                <a href="">
                    <i>
                        FALTA EL CARRITO ACA
                    </i>
                </a>
</div>
<div id="wide-nav" FALTA  QUE LA BARRA SEA PARA EL COSTADO>
    <ul>
        <li><a href="#">Paletas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">bolsos</a></li>
      
    </ul>
</nav>
<section class="banner">
    <img src="ruta de banner" alt="Banner que se mueva con imagenes de paddel">
</section>

</div>

    </header>
    <main>
        <h3>Ofertas</h3>
        <div class="products">
            <article>
               Paletas 
               <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <a href="Falta aniadir al carrito"></a>
                        <img>
                
            </article>
            <article>
               accesorios
               <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <p class="marca-producto"> RoyalPadel</p>
                            <p class="modelo-producto">NewModel</p>
                            <a href="Falta aniadir al carrito"></a>
                            <img>
            </article>
            <article>
            bolsos
            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <a href="Falta aniadir al carrito"></a>
                        <img>
            </article>
</div>
<h3>Productos</h3>
        <div class="products">
            <article>
               Paletas 
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <img>
                
            </article>
            <article>
               Accesorios
                            <p class="marca-producto"> RoyalPadel</p>
                            <p class="modelo-producto">NewModel</p>
                            <img>
            </article>
            <article>
            bolsos
           
                            <p class="marca-producto"> RoyalPadel</p>
                        <p class="modelo-producto">NewModel</p>
                        <img>
            
            </article>
</div>


<h3>Cajas Misteriosas</h3>
        <div class="products">
            <article>
            Caja 1
            <img>
                      
                
            </article>
            <article>
               Caja 2
               <img>
                           
            </article>
            <article>
          Caja 3
           
        <img>
                   
            
            </article>
</div>

    </main>
    <footer>
        <div class="top-header">
            <div class="logo"> 
                <img src="FALTA:RUTAAIMAGEN.png" alt="Logo de PaddelHouse">
            </div>
            <h3>Productos </h3>
            <ul>
                <li>Paletas</li>
                <li>Accesorios</li>
                <li>Bolsos</li>
            </ul>
            <h3>Servicios </h3>
            <ul>
                <li>Envios</li>
                <li>Planes de pago</li>
            </ul>
            <h3>Inforacion de contacto </h3>
            <p>Paddel House</p>
            <p>Buenos Aires y direccion</p>
            <p>Buenos Aires</p>
            <p>Argentina</p>



    </footer>
</body>
</html>