<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Paddle House</title>
</head>
<body>
    <header>
    <div class="top-header">
        <div class="logo-nav-iconos">
                <div class="logo"> 
                    <img class="logo-foto" src="/images/LogoPaddleHouse.jpg" alt="Logo de PaddelHouse">
                </div>
                <div class="search" action="#" method="GET">
                    <nav> <div class="input">Buscar...</div></nav>
                    <div class="submit"><i class=""></i></div>
                </div>
                <a class="contacto-logo" href="">CONTACTO: 
                    <div></div> 
                    <i class="fas fa-address-card"></i>
                </a>
                <a class="micuenta-logo"  href="/login">LOGIN:
                    <div></div> 
                    <i class="fas fa-sign-in-alt"> </i> 
                </a>
                <a class="carrito-logo" href="/productCart">CARRITO: 
                    <div></div> 
                    <i class="fas fa-shopping-basket"> </i>
                </a>
                </div>
</div>
<nav>
    <div class="barra-accesorios">
        <a href="#">PALETAS</a> <pre>    </pre>
        <a href="#">ACCESORIOS</a> <pre>    </pre>             
        <a href="#">BOLSOS</a>                              
</div>
</nav>
    </header>
    <main>
        
</html>