<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Paddle House</title>
</head>
<body>
    <header>
    <div class="top-header">
        <div class="logo-nav-iconos">
                <div class="logo"> 
                <a href="/"><img class="logo-foto" src="/images/LogoPaddleHouse.jpg" alt="Logo de PaddelHouse"></a>
                </div>
                <div class="search" action="#" method="GET">
                    <div class="input">Buscar...</div>
                    <div class="submit"><i class=""></i></div>
                </div>
                <div class="logos3">
                <a class="contacto-logo" href=#>CONTACTO: 
                    <div></div> 
                    <i class="fas fa-address-card"></i>
                </a>
                <a class="micuenta-logo"  href="/login">MI CUENTA:
                    <div></div> 
                    <i class="fas fa-sign-in-alt"> </i> 
                </a>
                <a class="carrito-logo" href="/productCart">CARRITO: 
                    <div></div> 
                    <i class="fas fa-shopping-basket"> </i>
                </a>
            </div>
                </div>
</div>
<nav>
    <div class="barra-accesorios">
        <a class="barra-accesoriosA" href="/productDetail">PALETAS</a> 
        <a class="barra-accesoriosB" href="/productDetail">ACCESORIOS</a>         
        <a class="barra-accesoriosC" href="/productDetail">BOLSOS</a>                              
</div>
</header>
<main class="register">
    <form action="/" method="POST">
        
        <p>Inicio > Mi cuenta > Crear cuenta</p>
        <h4>Crear cuenta</h4>

        <div class="box">
            <label for="user"></label>
            <input class="input" type="text" name="NyA" id="NyA" placeholder="Nombre y Apellido" required="">
        </div>  
        
        <div class="box">
            <label for="user"></label>
            <input class="input" type="email" name="email" id="email" placeholder=email required="">
        </div>  
       
        <div class="box">
           <label for="tel"></label>
           <input class="input" type="tel" name="telefono"id="tel" placeholder="Telefono" required="">
        </div> 
       
         <div class="box">
           <label for="password"></label>
           <input class="input" type="password" name="password" id="password" placeholder="Contraseña" required="">
        </div> 

        <div class="box">
            <label for="password"></label>
            <input class="input" type="password" name="password" id="password" placeholder="Confirmar contraseña" required="">
         </div> 


        <div class="box">
            <button class="button" type="submit">CREAR CUENTA</button>   
        </div>
           
    </form>
    <h5>Ya tenés una cuenta? <a href="/login">INICIAR SESION</a></h5>

<footer>
    <br>
    <br>
    <div class="a-footer">
        <div class="logo-footer"> 
            <a href="/"><img class="logx" src="/images/LogoPaddleHouse.jpg" alt="Logo de PaddelHouse"></a>
        </div>
        <div class="products-footer"> 
        <h4>Productos </h4>
        <ul class="footer-ul">
            <p class="enlaces-fonts"> <a href="/productDetail">Paletas</a></p>
            <p class="enlaces-fonts"> <a href="/productDetail">Accesorios</a></p>
            <p class="enlaces-fonts"> <a href="/productDetail">Bolsos</a></p>
        </ul>
    </div> 
    <div class="servicios-footer">
        <h4>Servicios </h4>
        <ul class="footer-ul">
        <p>Envios</p>
        <p>Planes de pago</p>
        </ul>
    </div> 
    <div class="contacto-footer">
        <h4 >Información de contacto </h4>
        <p class="footer-ul">Paddel House</p>
        <p class="footer-ul">Buenos Aires y dirección</p>
        <p class="footer-ul">Buenos Aires</p>
        <p class="footer-ul">Argentina</p>
    </div>
    </div>
</footer>
</body>
</html>



