* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*outline: 1px solid red;*/

}

head {
  font-family: "Abel", sans-serif;
}

header {
  font-family: "Abel", sans-serif;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cart-number {
  position: absolute;
  padding-top: 6px;
  background-color: red;
  color: white;
}

#reset-cart {
  background-color: white;
  color: black;
  border: 2px solid red;
  border-radius: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
}

#reset-cart:hover {
  background-color: red;
  color: white;
}

#buy-cart {
  background-color: white;
  color: black;
  border: 2px solid rgb(82, 185, 82);
  border-radius: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
}

#buy-cart:hover {
  background-color: rgb(82, 185, 82);
  color: white;
}

.cart-botones {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly
}

.cart-product-container {
  border: 1px solid #4472c4;
  width: 25%;
  margin: 10px;
}

.cart-product-container:hover {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

h3 {
  text-align: center;
  font-size: 24px;
  background-color: #4472c4;
  color: white;

}

.cart-text {
  text-align: center;
  font-size: 24px;
  background-color: #4472c4;
  color: white;
}

.delete-btn {
  background-color: white;
  color: black;
  border: 2px solid red;
  border-radius: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}

img {
  width: 100%;
}

h2 {
  font-size: 3.5em;
  margin-top: 100px;
  font-family: sans-serif, serif;
  font-style: italic;
  color: aliceblue;
  text-shadow: #1386d3;
  opacity: 50%;
  vertical-align: middle;
}



h4 {
  font-size: 30px;
  color: #4472c4;
}

p {
  font-size: 24px;
}

main {
  text-align: center;
  font-family: "Abel", sans-serif;
}

footer {
  font-family: "Abel", sans-serif;
}

div {
  text-align: center;
}

a:link {
  display: block;
  text-decoration: none;
}

.top-header {
  width: 100%;
  height: 100%;

}

div.logo-nav-iconos {
  display: flex;
  text-align: end;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  height: 100%;
  border: lightblue 1px solid;
}

.logo {
  width: 20%;
  height: 60%;
}

.logo-foto {
  display: flex;
  width: 100%;
  height: auto;
}

.imput-search {
  width: 70%;
  margin: 100px;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  height: 50%;
  border: rgb(2, 16, 20) 2px solid;
  border-radius: 10px;

}

header .form {
  display: flex;
  align-items: stretch;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  width: 50%;
}

header .form-buscador {
  display: flex;
  align-items: center;
}

header .input-search {
  width: 600px;
  height: 100%;
  border-radius: 10px;
  border: #1386d3 2px solid;
  padding: 10px;
}

header .button-search {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  background-color: white;

}

.contacto-logo {
  width: auto;
  height: auto;
  padding: 3%;
  color: black;
}

.micuenta-logo {
  width: auto;
  height: auto;
  padding: 3%;
  color: black;
}

.carrito-logo {
  width: auto;
  height: auto;
  padding: 3%;
  color: black;
}

.fa-address-card {
  font-size: 200%;
  color: #1386d3;
}

.fa-sign-in-alt {
  font-size: 200%;
  color: #1386d3;
}

.fa-shopping-basket {
  font-size: 200%;
  color: #1386d3;
}

.fa-plus-circle {
  font-size: 200%;
  color: #1386d3;
}

.barra-accesorios {
  display: flex;
  box-sizing: border-box;
  align-content: flex-start;
  align-items: center;
  height: auto;
  font-size: 36px;
  color: #1386d3;
}

.barra-accesoriosA {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosA:hover {
  background-color: #4472c4;
  color: white;

}

.barra-accesoriosB {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosB:hover {
  background-color: #4472c4;
  color: white;
}

.barra-accesoriosC {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosC:hover {
  background-color: #4472c4;
  color: white;
}

.barra-accesoriosD {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosD:hover {
  background-color: #4472c4;
  color: white;
}

.logos3 {
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  width: 90%;
  font-size: 100%;
}

.logos3 {
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  width: 90%;
  font-size: 100%;
}

.logos3>li {
  display: inline-block;
  padding: 3%;
  width: auto;
  height: auto;
}

.logos3>li>a {
  display: block;
  padding: 15px 20px 0px 0px;
  color: blue;
  text-decoration: none;
}

.dropdown-item {
  display: block;
  padding: 4px 16px;
  width: 100%;
  color: black;
}

.dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  display: none;
  list-style: none;
  min-width: 160px;
  text-align: left;
  font-size: 17px;
  border: 1px solid;
  border-radius: 5%;
}

.dropdown-menu li a {
  display: block;
  padding: 15px;
  color: aliceblue;
  text-decoration: none;
}

.nav-item img {
  width: 60px;
  height: auto;
  vertical-align: middle;
  border-radius: 100%;
}

.logos3 li:hover .dropdown-menu {
  display: block;
}

.divisor {
  list-style: none;
}

#contenedor-carrito {
  overflow-x: auto;
}

#contenedor-carrito table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

#contenedor-carrito table thead {
  font-weight: 700;
}

#contenedor-carrito table thead td {
  background-color: #4472C4;
  color: white;
  border: none;
  padding: 6px, 0px;
}

#contenedor-carrito table td {
  border: 1px solid #b6b3b3;
  text-align: center;
}

#contenedor-carrito table td:nth-child(1) {
  width: 100px;
}

#contenedor-carrito table td:nth-child(2),
#contenedor-carrito table td:nth-child(3) {
  width: 200px;
}

#contenedor-carrito table td:nth-child(4),
#contenedor-carrito table td:nth-child(5),
#contenedor-carrito table td:nth-child(6) {
  width: 170px;
}

#contenedor-carrito table tbody img {
  height: 160px;
  object-fit: cover;
}

.contenedor-finalizar {
  margin: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.contenedor-finalizar .cupon {
  display: table-cell;
  padding: 10px;
}

.contenedor-finalizar .total {
  display: table-cell;
  padding: 10px;
  width: 700px;
}

.total-a-pagar {
  display: flex;
  justify-content: space-around;

}

#finalizar-carrito .cupon>div,
#finalizar-carrito .total>div {
  border: 1px solid #b6b3b3;
}

#finalizar-carrito .cupon h5,
#finalizar-carrito .total h5 {
  background-color: #4472C4;
  color: white;
  border: none;
  padding: 6px, 12px;
  font-size: 20px;
}

#finalizar-carrito .cupon p,
#finalizar-carrito .cupon input {
  padding: 0 12px
}

#finalizar-carrito .cupon input {
  height: 44px;
}

#finalizar-carrito .cupon input {
  margin: 0px, 0px, 20px, 12px;
}

#finalizar-carrito .total div>div {
  padding: 0px, 12px;
}

#finalizar-carrito .total h6 {
  color: black;
  font-size: 20px;
}

.segundo-hr {
  background: #b8b7b3;
  width: 100%;
  height: 1px;
}

.a-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-align: center;
  width: 100%;
  border: #0d6efd 2px solid;
  height: 70%;
}

.logo-footer {
  width: 25%;
}

.products-footer {
  width: 25%;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.servicios-footer {
  width: 25%;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.contacto-footer {
  width: 25%;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.enlaces-fonts {
  color: black;
}

.enlaces-fonts:hover {
  background-color: #4472c4;
  color: white;
}

.logx {
  width: 80%;
}

@media (max-width: 595px) {
  .barra-accesorios {
    font-size: 25px;
  }
}


@media (max-width: 818px) {
  .logo-nav-iconos {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }

  .logos3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  header .form-buscador {
    display: flex;
    align-items: center;
  }

  header .input-search {
    width: 400px;
    height: 100%;
    border-radius: 10px;
    border: #1386d3 2px solid;
    padding: 10px;
  }

  header .button-search {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    background-color: white;

  }

  .micuenta-logo {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start
  }

  .contacto-logo {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
  }

  .marca-modelo {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }


  .barra-accesorios {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: start;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
  }

  .a-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    text-align: center;
  }

  .footer-ul {
    font-size: 23px;
  }

  .enlaces-fonts {
    font-size: 23px;
  }
}