* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*outline: 1px solid red;*/

}

head {
  font-family: "Abel", sans-serif;
}

header {
  font-family: "Abel", sans-serif;
}

h2 {
  font-size: 3.5em;
  margin-top: 100px;
  font-family: sans-serif, serif;
  font-style: italic;
  color: aliceblue;
  text-shadow: #1386d3;
  opacity: 50%;
  vertical-align: middle;
}

h3 {
  font-size: 36px;
  border: lightblue 1px solid;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 24px;
}

main {
  text-align: center;
  font-family: "Abel", sans-serif;
}

footer {
  font-family: "Abel", sans-serif;
}

div {
  text-align: center;
}

a:link {
  display: block;
  text-decoration: none;
}

.top-header {
  width: 100%;
  height: 100%;

}

div.logo-nav-iconos {
  display: flex;
  text-align: end;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  height: 100%;
  border: lightblue 1px solid;
}

.logo {
  width: 20%;
  height: 60%;
}

.logo-foto {
  display: flex;
  width: 100%;
  height: auto;
}

.imput-search {
  width: 70%;
  margin: 100px;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  height: 50%;
  border: rgb(2, 16, 20) 2px solid;
  border-radius: 10px;

}

header .form {
  display: flex;
  align-items: stretch;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  width: 50%;
}

header .input-search {
  border-radius: 10px;
  border: #1386d3 2px solid;
  padding: 10px;
  width: 250px;
  margin-block-end: auto;
}

header .button-search {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  background-color: white;

}

.contacto-logo {
  width: auto;
  height: auto;
  padding: 3%;
  color: black;
}

.micuenta-logo {
  width: auto;
  height: auto;
  padding: 3%;
  color: black;
}

.carrito-logo {
  width: auto;
  height: auto;
  padding: 3%;
  color: black;
}
.cart-number {
  position: absolute;
  padding-top: 6px;
  background-color: red;
  color: white;
}
.fa-address-card {
  font-size: 200%;
  color: #1386d3;
}

.fa-sign-in-alt {
  font-size: 200%;
  color: #1386d3;
}

.fa-shopping-basket {
  font-size: 200%;
  color: #1386d3;
}

.fa-plus-circle {
  font-size: 200%;
  color: #1386d3;
}

.barra-accesorios {
  display: flex;
  box-sizing: border-box;
  align-content: flex-start;
  align-items: center;
  height: auto;
  font-size: 36px;
  color: #1386d3;
}

.barra-accesoriosA {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosA:hover {
  background-color: #4472c4;
  color: white;

}

.barra-accesoriosB {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosB:hover {
  background-color: #4472c4;
  color: white;
}

.barra-accesoriosC {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosC:hover {
  background-color: #4472c4;
  color: white;
}

.barra-accesoriosD {
  width: 25%;
  color: #1386d3;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.barra-accesoriosD:hover {
  background-color: #4472c4;
  color: white;
}
.logos3 {
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  width: 90%;
  font-size: 100%;
}
.logos3 {
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  width: 90%;
  font-size: 100%;
}
.logos3 > li {
display: inline-block;
padding: 3%;
width: auto;
height: auto;
}
.logos3 > li > a {
display: block;
padding: 15px 20px 0px 0px;
color: blue;
text-decoration: none;
}
.dropdown-item{
  display: block;
  padding: 4px 16px;
  width: 100%;
  color: black;
}
.dropdown-menu{
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  display: none;
  list-style: none;
  min-width: 160px;
  text-align: left;
  font-size: 17px;
  border: 1px solid;
  border-radius: 5%;
}

.dropdown-menu li a{
display: block;
padding: 15px;
color: aliceblue;
text-decoration: none;
}

.nav-item img{
  width: 60px;
  height: auto;
  vertical-align: middle;
  border-radius: 100%;
}
.logos3 li:hover .dropdown-menu{
display: block;
}

.divisor{
  list-style: none;
}

main .box {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border:  1px ;
}

main .box-imagen {
  display: flex;
  justify-content:center;
  padding: 20px 0px;
  flex-direction: column;
}

main .input {
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  border: none;
  font-size: 14px;
  background:#b5d6ee;
}
.inputs{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color:#ebebeb;
}
main .button {
  display: block;
  width: 50%;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  background-color: #4472c4;
  font-size: 14px;
  border: none;
  color: white;
  transition: background-color, 0.5s;
}

main .button:hover {
  background-color: #0022aa;
}

main .button-delete {
  display: block;
  width: 50%;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  background-color: #b91934;
  font-size: 14px;
  border: none;
  color: white;
  transition: background-color, 0.5s;
}

main .button-delete:hover {
  background-color: #460707;
}

main .titulo {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
.boton-iniciar{
  color: black;
  text-decoration: underline ;
}

.text-danger{
  font-size: 20px;
  color: red;
}

.errorList{
  display: none;
  padding: 8px;
  color: red;
}

.contenedor{
  width: 100%;
}
.a-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-align: center;
  width: 100%;
  border: #0d6efd 2px solid;
  height: 70%;
}

.logo-footer {
  width: 25%;
}

.products-footer {
  width: 25%;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.servicios-footer {
  width: 25%;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.contacto-footer {
  width: 25%;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.enlaces-fonts{
  color:black;
}
.enlaces-fonts:hover{
  background-color: #4472c4;
color: white;
}

.logx {
  width: 80%;
}
.cargarImagen{
  display: flex;
  justify-content: center;
}

@media (max-width: 595px) {
  .barra-accesorios {
    font-size: 25px;
  }
}

@media (max-width: 818px) {
  .logo-nav-iconos {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }

  .logos3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }


  .micuenta-logo {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
  }

  .carrito-logo {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
  }

  .contacto-logo {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
  }

  

  .marca-modelo {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .barra-accesorios {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: start;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
  }

  .a-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    text-align: center;
  }

  .footer-ul {
    font-size: 23px;
  }

  .enlaces-fonts {
    font-size: 23px;
  }
}