*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
  
}
head{
    font-family: 'Abel', sans-serif;
 
}


header{
    font-family: 'Abel', sans-serif;
  
    
}


main{
    text-align: center;
    font-family: 'Abel', sans-serif;
   
  
}
footer{
    font-family: 'Abel', sans-serif;

  
}
div{
    text-align: center;
}

.logo-nav-iconos{
    text-align: center;
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    height: 100px;
    border: lightblue 5px solid;
}
.logo{
    width: 20%;
    
}
.logo-foto{
    width: 100%;
    height: 100%;
}

.barra-accesorios{
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: lightblue 5px solid;
    width: 100%;

}
.banner{
    width: 100%;
    border: black 5px solid;
    height: 300px;
}
.banner-foto{
    box-sizing: border-box;
    display: flex;
}
.foto-bann{
    width: 100%;
    height:100%;
}
.ofertas-main{
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    width: 100%;
    border: grey 2px solid;
    height: 100%;
}
.ofertas1{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}

.ofertas2{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}

.ofertas3{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}   
.marca-modelo{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}
.precios{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}
.precio-ofertas{
    text-decoration: line-through;
}

.products-main{
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    text-align: center;
    width: 100%;
    border: grey 2px solid;
    height: 400px;
}
.products1{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}
.products2{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}
.products3{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}
.cajas-main{
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 15px;
    justify-content: flex-start;
    width: 100%;
    border: grey 2px solid;
    height: 300px;
}
.caja1{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}
.caja2{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}
.caja3{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}

.a-footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-align: center;
    width: 100%;
    border: grey 2px solid;
   
}
.products-footer{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}
.servicios-footer{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}
.contacto-footer{
    width: 33.3%;
    text-align: center;
    justify-content: center;
}