<!--<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/productCart.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Paddle House</title>
</head> -->

<%- include("./partials/head") %>

<body>
    <!-- <header>
        <div class="top-header">
            <div class="logo-nav-iconos">
                <div class="logo">
                    <a href="/"><img class="logo-foto" src="/images/LogoPaddleHouse.jpg" alt="Logo de PaddelHouse"></a>
                </div>
                <div class="search" action="#" method="GET">
                    <div class="input">Buscar...</div>
                    <div class="submit"><i class=""></i></div>
                </div>
                <div class="logos3">
                    <a class="contacto-logo" href=#>CONTACTO:
                        <div></div>
                        <i class="fas fa-address-card"></i>
                    </a>
                    <a class="micuenta-logo" href="/login">MI CUENTA:
                        <div></div>
                        <i class="fas fa-sign-in-alt"> </i>
                    </a>
                    <a class="carrito-logo" href="/productCart">CARRITO:
                        <div></div>
                        <i class="fas fa-shopping-basket"> </i>
                    </a>
                </div>
            </div>
        </div>
        <nav>
            <div class="barra-accesorios">
                <a class="barra-accesoriosA" href="/productDetail">PALETAS</a>
                <a class="barra-accesoriosB" href="/productDetail">ACCESORIOS</a>
                <a class="barra-accesoriosC" href="/productDetail">BOLSOS</a>
            </div>
        </nav>
        </div>
        </div>
    </header> -->

    <%- include("./partials/header") %>

    <main>
        <div class="contenedor" id="contenedor-carrito">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Eliminar</td>
                        <td>imagen</td>
                        <td>Producto</td>
                        <td>Precio</td>
                        <td>Cantidad</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                        <td><img src="/images/Paleta_KelmeLycan.jpg" alt=""></td>
                        <td>
                            <h5>Paleta Kelme Lycan</h5>
                        </td>
                        <td>
                            <h5>$ 20000</h5>
                        </td>
                        <td><input class="w-25 pl-1" value="1" type="number"></td>
                        <td>
                            <h5>$ 40000</h5>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                        <td><img src="/images/Accesorio_CubreGripx60NexusBlanco.jpg" alt=""></td>
                        <td>
                            <h5>CubreGrip Nexus Blaco</h5>
                        </td>
                        <td>
                            <h5>$ 450</h5>
                        </td>
                        <td><input class="w-25 pl-1" value="1" type="number"></td>
                        <td>
                            <h5>$ 450</h5>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>
                        <td><img src="images/Bolsos_PaleteroAdidasWeekendWhite20.jpg" alt=""></td>
                        <td>
                            <h5>Bolso Adidas Blanco</h5>
                        </td>
                        <td>
                            <h5>$ 15000</h5>
                        </td>
                        <td><input class="w-25 pl-1" value="1" type="number"></td>
                        <td>
                            <h5>$ 15000</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="finalizar-carrito" class="contenedor-finalizar">

            <div class="cupon">
                <div>
                    <h5>CUPÓN</h5>
                    <input type="text" placeholder="Código de cupón">
                    <button>Aplicar Cupón</button>
                </div>
            </div>
            <div class="total">
                <div>
                    <h5>TOTAL</h5>
                    <div class="total-a-pagar">
                        <h6>SUBTOTAL</h6>
                        <p>$ 55450</p>
                    </div>
                    <div class="total-a-pagar">
                        <h6>ENVÍO</h6>
                        <p>Gratis o pago</p>
                    </div>
                    <hr class="segundo-hr">
                    <div class="total-a-pagar">
                        <h6>TOTAL</h6>
                        <p>$ 40550</p>
                    </div>
                    <button class="ml-auto">FINALIZAR COMPRA</button>
                </div>
            </div>
        </div>
        </div>

    </main>
<!-- 
    <footer>
        <br>
        <br>
        <div class="a-footer">
            <div class="logo-footer">
                <a href="/"><img class="logx" src="/images/LogoPaddleHouse.jpg" alt="Logo de PaddelHouse"></a>
            </div>
            <div class="products-footer">
                <h4>Productos </h4>
                <ul class="footer-ul">
                    <p class="enlaces-fonts"> <a href="/productDetail">Paletas</a></p>
                    <p class="enlaces-fonts"> <a href="/productDetail">Accesorios</a></p>
                    <p class="enlaces-fonts"> <a href="/productDetail">Bolsos</a></p>
                </ul>
            </div>
            <div class="servicios-footer">
                <h4>Servicios </h4>
                <ul class="footer-ul">
                    <p>Envios</p>
                    <p>Planes de pago</p>
                </ul>
            </div>
            <div class="contacto-footer">
                <h4>Información de contacto </h4>
                <p class="footer-ul">Paddel House</p>
                <p class="footer-ul">Buenos Aires y dirección</p>
                <p class="footer-ul">Buenos Aires</p>
                <p class="footer-ul">Argentina</p>
            </div>
        </div>
    </footer>   -->

    <%- include("./partials/footer") %>
    
</body>

</html>