<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>

        <%- include("../partials/header") %>

            <main class="login">
                <p>Inicio > Mi cuenta > Login</p>
                <h4>Inicia Sesion</h4>

                <form action="/users/login" method="post">
                    <div class="box">
                        <label for="user"></label>
                        <div class="contenedor">
                        <input class="input" type="email" name="email" placeholder=email required>
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                        </div>
                    </div>
                    <div class="box">
                        <label for="password"></label>
                        <input class="input" type="password" name="password" placeholder="Contraseña"
                            required>
                    </div>
                    <div class="recordarUsuario">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                        </label>
                    </div>
                    <div>
                        <button class="button" type="submit">INICIA SESION</button>
                    </div>

                </form>
                <h5>No tenés cuenta aún? <a class="crear-link" href="/users/register">CREAR CUENTA</a></h5>

            </main>

            <%- include("../partials/footer") %>
    </body>

</html>