<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>

        <%- include("../partials/header") %>

            <main class="login">
                <p>Inicio > Mi cuenta > Login</p>
                <h4>Inicia Sesion</h4>

                <form action="/" method="GET">
                    <div class="box">
                        <label for="user"></label>
                        <input class="input" type="email" name="email" id="email" placeholder=email required="">
                    </div>
                    <div class="box">
                        <label for="password"></label>
                        <input class="input" type="password" name="password" id="password" placeholder="Contraseña"
                            required="">
                    </div>
                    <div class="titulo"><label>¿Olvidaste tu contraseña?</label></div>


                    <div class="box">
                        <button class="button" type="submit">INICIA SESION</button>
                    </div>

                </form>
                <h5>No tenés cuenta aún? <a href="/users/register">CREAR CUENTA</a></h5>

            </main>

            <%- include("../partials/footer") %>
    </body>

</html>