<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main class="register">
        <form action="/users/register" method="POST">

            <p>Inicio > Mi cuenta > Crear cuenta</p>
            <h4>Crear cuenta</h4>
            <div class="inputs">
            <div class="box">
                <label for="user"></label>
                <input class="input" type="text" name="name" placeholder="Crea un nombre de usuario" required>
            </div>

            <div class="box">
                <label for="user"></label>
                <input class="input" type="email" name="email" placeholder="Ingresa aquí tu email" required>
            </div>

            <div class="box">
                <label for="password"></label>
                <input class="input" type="password" name="password" placeholder="Crea tu contraseña">
            </div>

            <div class="box">
                <button class="button" type="submit">CREA TU CUENTA</button>
            </div>

        </form>
        <h5>Ya tenés una cuenta? <a class="boton-iniciar" href="/users/login">INICIAR SESION (LOGIN)</a></h5>

    </main>
        <%- include("../partials/footer") %>

</body>

</html>