<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %> 
    <main class="register">
        <form action="/" method="post">
            
            <h4>Crear producto</h4>

            <div class="box">
                <label for="category"></label>
                <input class="input" type="text" name="category" id="category" placeholder="categoria" required="">
            </div>

            <div class="box">
                <label for="brand"></label>
                <input class="input" type="text" name="brand" id="brand" placeholder="marca" required="">
            </div>

            <div class="box">
                <label for="model"></label>
                <input class="input" type="text" name="model" id="model" placeholder="modelo" required="">
            </div>

            <div class="box">
                <label for="price"></label>
                <input class="input" type="number" name="price" id="price" placeholder="precio" required="">
            </div>

            <div class="box-imagen">
                <div class="cargarImagen">
                <label for="image">Cargar imagen del producto</label>
                </div>
                <div>
                <input class="input" type="file" name="image" id="image" placeholder="imagen del producto"
                    required="">
                </div>
            </div>

            <div class="box">
                <label for="description"></label>
                <input class="input" type="text" name="description" id="description" placeholder="descripcion"
                    required="">
            </div>

            <div class="box">
                <button class="button" type="submit">CREAR PRODUCTO</button>
            </div>
        </div>
        </form>

    </main>


    <%- include("../partials/footer") %>
</body>
</html>