<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %> 
    <main class="register">
        <form action="/" method="POST">

            
            <h4>Modificar producto</h4>

            <div class="box">
                <label for="categoria"></label>
                <input class="input" type="text" name="categoria" id="categoria" placeholder="categoria" required="">
            </div>

            <div class="box">
                <label for="marca"></label>
                <input class="input" type="text" name="marca" id="marca" placeholder="marca" required="">
            </div>

            <div class="box">
                <label for="modelo"></label>
                <input class="input" type="text" name="modelo" id="modelo" placeholder="modelo" required="">
            </div>

            <div class="box">
                <label for="precio"></label>
                <input class="input" type="number" name="precio" id="precio" placeholder="precio" required="">
            </div>

            <div class="box">
                <label for="imagen">Cargar imagen del producto</label>
                <input class="input" type="file" name="imagen" id="imagen" placeholder="imagen del producto"
                    required="">
            </div>

            <div class="box">
                <label for="descripcion"></label>
                <input class="input" type="text" name="descripcion" id="descripcion" placeholder="descripcion"
                    required="">
            </div>

            <div class="box">
                <button class="button" type="submit">MODIFICAR PRODUCTO</button>
            </div>

        </form>

    </main>


    <%- include("../partials/footer") %>
</body>
</html>