<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head", {Solapa: "PH: Carrito de Compras" }) %>

    <body>

        <%- include("../partials/header") %>

            <main>
                <h3>Carrito</h3>

                <div class="cart-container"></div>
            
                <div class="shop-price"></div>
            
                <script src="/js/listaCarrito.js"></script>
            </main>
            <%- include("../partials/footer") %>

    </body> 

</html>
