<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main>
        <h5>INICIO/PRODUCTO</h5>
        <div class="DescripcionProductos">
            <article class="SelectorProducto">
                <p class="Descripciones">Categorias:</p>
                <pre>  </pre>
                </p>
                <div class="opciones">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Grid</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">CubreGrid</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Pelotas</label>
                    </div>
                    <p class="marca-producto"> Marcas:
                    <pre> </pre>
                    </p>
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Adidas</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Kelmer</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Higer</label>
                    </div>
            </article>
            <article class="Desc-1">
                <img class="ofertass" src="/images/Paleta_KelmeLycan.jpg">
                <div class="marca-modelo">
                    <p class="Descripciones">Paleta</p>
                    <pre>  </pre>
                    </p>
                    <p class="marca-producto">Kelme
                    <pre> </pre>
                    </p>
                    <p class="modelo-producto">Lycan
                    <pre> </pre>
                    </p>
                </div>
                <div class="precios">
                    <p class="precio-ofertas">600$
                    <pre>  </pre>
                    </p>
                </div>
                <button class="button button1">Añadir al Carrito</button>
            </article>
            <article class="Desc-2">
                <img class="ofertass" src="/images/Accesorio_GripAdidasPadelPerformance1blanco.jpg">
                <div class="marca-modelo">
                    <p class="Descripciones">Accesorios</p>
                    <pre>  </pre>
                    </p>
                    <p class="marca-producto"> CubreGrip Nexus
                    <pre> </pre>
                    </p>
                    <p class="modelo-producto">Blanco
                    <pre> </pre>
                    </p>
                </div>
                <div class="precios">
                    <p class="precio-ofertas">700$
                    <pre>  </pre>
                    </p>
                </div>
                <button class="button button1">Añadir al Carrito</button>
            </article>
            <article class="Desc-3">
                <img class="ofertass" src="/images/Bolsos_MochilaAdidasBarricadeNaranja.jpg">
                <div class="marca-modelo">
                    <p class="Descripciones">Bolsos</p>
                    <pre>  </pre>
                    </p>
                    <p class="marca-producto">Mochila Adidas
                    <pre> </pre>
                    </p>
                    <p class="modelo-producto">Barricade Nar
                    <pre> </pre>
                    </p>
                </div>
                <div class="precios">
                    <p class="precio-ofertas">15000$
                    <pre>  </pre>
                    </p>
                </div>
                <button class="button button1">Añadir al Carrito</button>
            </article>
        </div>
    </main>
        <%- include("../partials/footer") %>

</body>

</html>